@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  /* Primary */

  --pink: hsl(322, 100%, 66%);

  /* Neutral */

  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  position: relative;
}

.header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: var(--very-pale-cyan);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.header-container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.huddle-icon {
  max-width: 190px;
}

.huddle-icon img {
  max-width: 100%;
  max-height: 100%;
}

.header-white-button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: white;
  border-radius: 2rem;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 4rem;
}

.header-bottom-right {
  max-width: 700px;
}

.header-bottom-right img {
  max-width: 100%;
  max-height: 100%;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.header-bottom-left h1 {
  font-size: 2.5rem;
}

.header-bottom-left p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header-pink-button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: var(--pink);
  color: white;
  border-radius: 2rem;
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
  padding: 150px 0 300px;
}

.features-card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.features-icon {
  max-width: 450px;
}

.features-icon img {
  max-width: 100%;
  max-height: 100%;
}

.features-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.features-text h2 {
  font-family: "Poppins", sans-serif;
}

.features-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5rem;
  color: var(--grayish-blue);
}

.features-card-reverse {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.absolute-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: white;
  border-radius: 10px;
  width: 850px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  position: absolute;
  bottom: 14%;
  left: 28%;
  text-align: center;
  z-index: 1;
}

.absolute-text {
  font-family: "Poppins", sans-serif;
}

.absolute-pink-button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: var(--pink);
  color: white;
  border-radius: 2rem;
  height: 75px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--very-dark-cyan);
  position: relative;
  overflow: hidden;
}

.footer-container {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 150px 200px 110px 110px;
  gap: 3.75rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.footer-icon img {
  filter: brightness(0) invert(1);
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-container {
  display: flex;
  gap: 2rem;
  line-height: 1.5rem;
  font-size: 15px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.social-media {
  display: flex;

  gap: 1rem;
}

.social-media i {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
}

.copyright {
  background-color: var(--very-dark-cyan);
  position: absolute;
  width: 100%;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  bottom: 15%;
  left: 30%;
}
